.centered{
    text-align: center;
    color:brown;
}
body{
    background-color:bisque;
}
/*position
relative: positions the element relative to its normal position and will leave a gap at its normal position;
absolute: positions the element relative to its parent position

fixed: position the element relative to the browser window
sticky: position 
*/
.cont{
    
    display:flex;

    margin-left:80%;

    
    /* border: 2px solid blueviolet;   */
}
.cont div li {
    list-style-type:none;
}
a{
    text-decoration: none;
    color:inherit;
}
h2{
    color:blueviolet
}
.container{
    display:inline-block;
    width: 100px;
    height: 50px;
    margin: 2px;
    /* border: 2px solid blueviolet;   */
}
span ul li{
    list-style-type:decimal;
    margin:5px;
    padding:2px;
    font-size:larger
}
#leet{
    /* position:sticky;
    top:100px; */
    position: relative;
    top:0px;
    
}

