.centered{
    text-align: center;
    color:brown;
}
/*position
relative: positions the element relative to its normal position and will leave a gap at its normal position;
absolute: positions the element relative to its parent position

fixed: position the element relative to the browser window
sticky: position 
*/
.cont{

    height: 50px;
    margin: 2px;
    border: 2px solid blueviolet;  
}
.container{
    display:inline-block;
    width: 100px;
    height: 50px;
    margin: 2px;
    border: 2px solid blueviolet;  
}
#leet{
    /* position:sticky;
    top:100px; */
    position: relative;
    top:0px;
    
}

